<header>
  <div class="container">
    
    <div class="header-img-box">
        <picture>
            <img class="header-image" srcset="
                    ../../assets/img/logo/image_1x.webp 1x,
                    ../../assets/img/logo/image_2x.webp 2x" src="../../assets/img/logo/image_1x.webp" alt="logo" width="80"
                height="80" />
        </picture>
        

      <svg class="name-icon" width="84" height="19">
        <use href="@src/assets/svg/icons.svg#icon-jefferson"></use>
    </svg>
    </div>
    <!-- <div class=""><button class="burger-btn" type="button"></button></div> -->
  </div>

  <!-- Burger  -->
  <!-- <div class="backdrop"></div> -->
</header>
