.header {
  /* background-color: rgb(252, 250, 250); */
  
}

.header-container {
  display: flex;
  flex-direction: row;
  margin: 0;

}

.header-img-box {
  display: flex;
  flex-direction: row;
}

.header-image {
  width: auto;
  height: auto;
}

.name-icon {
  /* width: 84px;
  height: 19px; */
  /* stroke: #fff; */
}