<section class="about-me" id="about-me">
  <div class="container">
    <h2 class="visually-hidden">About me</h2>
    <div class="about-me-wrapper-content">
      <div
        class="about-me-content"
        data-aos="zoom-in-up"
        data-aos-duration="1600"
      >
        <h3 class="header-3">
          I work with people all over the world to create impressive and
          <span class="text-decoration-red">functional </span
          ><span class="text-decoration-gray">websites </span>that reflect each
          client's unique personality.
        </h3>
      </div>
      <div
        class="about-me-img-wrapper"
        data-aos="zoom-in-up"
        data-aos-duration="1600"
      >
        <picture>
          <source
            media="(max-width: 767.98px)"
            srcset="
              /assets/img/about-me/image_mobile1x.webp 1x,
              /assets/img/about-me/image_mobile2x.webp 2x
            "
          >
          <source
            media="(min-width: 768px) and (max-width: 1439.98px)"
            srcset="
              /assets/img/about-me/image_tablet1x.webp 1x,
              /assets/img/about-me/image_tablet2x.webp 2x
            "
          >
          <source
            media="(min-width: 1440px)"
            srcset="
              /assets/img/about-me/image_desktop1x.webp 1x,
              /assets/img/about-me/image_desktop2x.webp 2x
            "
          >
          <img
            class="about-me-img"
            src="/assets/img/about-me/image_mobile1x.webp"
            alt="My photo"
            width="343"
            height="500"
            loading="lazy"
          >
        </picture>
      </div>
    </div>
    <ul
      class="about-me-list accordion-container"
      id="accordionAbout"
      data-aos="zoom-in-up"
      data-aos-duration="1400"
    >
      <li class="about-me-list-item ac">
        <div class="about-me-chapter ac-header ac-trigger">
          <h4 class="section-title">About me</h4>
          <button
            class="about-me-btn ac-trigger"
            type="button"
            aria-label="Open-close button"
          >
            <svg class="about-me-btn-icon" width="18" height="18">
              <title>The Arrow down</title>
              <desc>
                Down arrow consisting of two lines forming a triangle without
                the top edge.
              </desc>
              <use href="/assets/svg/icons.svg#icon-arrow-about-me"></use>
            </svg>
          </button>
        </div>
        <div class="about-me-text ac-panel">
          <p class="about-me-paragraph">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="about-me-paragraph">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>
      <li class="about-me-list-item ac">
        <div class="about-me-chapter ac-header ac-trigger">
          <h4 class="section-title">ROLE</h4>
          <button
            class="about-me-btn ac-trigger"
            type="button"
            aria-label="Open-close button"
          >
            <svg class="about-me-btn-icon" width="18" height="18">
              <title>The Arrow down</title>
              <desc>
                Down arrow consisting of two lines forming a triangle without
                the top edge.
              </desc>
              <use href="/assets/svg/icons.svg#icon-arrow-about-me"></use>
            </svg>
          </button>
        </div>
        <ul class="ac-panel">
          <li>Frontend development</li>
          <li>HeadlessCMS,Wordpress</li>
          <li>Blender(enjoy)</li>
        </ul>
      </li>
      <li class="about-me-list-item ac">
        <div class="about-me-chapter ac-header ac-trigger">
          <h4 class="section-title">EDUCATION</h4>
          <button
            class="about-me-btn ac-trigger"
            type="button"
            aria-label="Open-close button"
          >
            <svg class="about-me-btn-icon" width="18" height="18">
              <title>The Arrow down</title>
              <desc>
                Down arrow consisting of two lines forming a triangle without
                the top edge.
              </desc>
              <use href="/assets/svg/icons.svg#icon-arrow-about-me"></use>
            </svg>
          </button>
        </div>
        <ul class="ac-panel">
          <li>
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li>
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
        </ul>
      </li>
    </ul>
    <div class="about-me-wrapper-swiper">
      <div class="about-me-swiper-container" id="swiperAbout">
        <ul class="about-me-list-skills swiper-wrapper">
          <li class="about-me-list-skills-item swiper-slide">HTML/CSS</li>
          <li class="about-me-list-skills-item swiper-slide">JavaScript</li>
          <li class="about-me-list-skills-item swiper-slide">React</li>
          <li class="about-me-list-skills-item swiper-slide">Node.js</li>
          <li class="about-me-list-skills-item swiper-slide">React Native</li>
          <li class="about-me-list-skills-item swiper-slide">Typescript</li>
          <li class="about-me-list-skills-item swiper-slide">Soft skills</li>
        </ul>
      </div>
      <button
        type="button"
        class="about-me-btn-swipe"
        aria-label="Swipe to right button"
      >
        <svg class="about-me-btn-icon" width="28" height="28">
          <title>The Arrow right</title>
          <desc>Arrow pointing right with a tail</desc>
          <use
            href="/assets/svg/icons.svg#icon-arrow-narrow-right-about-me"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</section>
