<section class="covers">
  <div class="marquee container">
    <h2 class="visually-hidden">Covers</h2>
    <ul class="marquee__inner">
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /assets/img/covers/rectangle_10_1x.webp 1x,
                /assets/img/covers/rectangle_10_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >
            <source
              media="(min-width: 768px)"
              srcset="
                /assets/img/covers/rectangle_10_1x.webp 1x,
                /assets/img/covers/rectangle_10_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >

            <source
              media="(max-width: 767px)"
              srcset="
                /assets/img/covers/rectangle_10_1x.webp 1x,
                /assets/img/covers/rectangle_10_2x.webp 2x
              "
              width="282"
              type="image/webp"
            >
            <img
              class="marquee-foto"
              src="/assets/img/covers/rectangle_10_1x.webp"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            >
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /assets/img/covers/rectangle_7_1x.webp 1x,
                /assets/img/covers/rectangle_7_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >
            <source
              media="(min-width: 768px)"
              srcset="
                /assets/img/covers/rectangle_7_1x.webp 1x,
                /assets/img/covers/rectangle_7_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >

            <source
              media="(max-width: 767px)"
              srcset="
                /assets/img/covers/rectangle_7_1x.webp 1x,
                /assets/img/covers/rectangle_7_2x.webp 2x
              "
              width="282"
              type="image/webp"
            >
            <img
              class="marquee-foto"
              src="/assets/img/covers/rectangle_7_1x.webp"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            >
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /assets/img/covers/rectangle_8_1x.webp 1x,
                /assets/img/covers/rectangle_8_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >
            <source
              media="(min-width: 768px)"
              srcset="
                /assets/img/covers/rectangle_8_1x.webp 1x,
                /assets/img/covers/rectangle_8_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >

            <source
              media="(max-width: 767px)"
              srcset="
                /assets/img/covers/rectangle_8_1x.webp 1x,
                /assets/img/covers/rectangle_8_2x.webp 2x
              "
              width="282"
              type="image/webp"
            >
            <img
              class="marquee-foto"
              src="/assets/img/covers/rectangle_8_1x.webp"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            >
          </picture>
        </div>
      </li>
    </ul>
    <ul class="marquee__inner">
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /assets/img/covers/first_screen_1_1x.webp 1x,
                /assets/img/covers/first_screen_1_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >
            <source
              media="(min-width: 768px)"
              srcset="
                /assets/img/covers/first_screen_1_1x.webp 1x,
                /assets/img/covers/first_screen_1_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >

            <source
              media="(max-width: 767px)"
              srcset="
                /assets/img/covers/first_screen_1_1x.webp 1x,
                /assets/img/covers/first_screen_1_2x.webp 2x
              "
              width="282"
              type="image/webp"
            >
            <img
              class="marquee-foto"
              src="/assets/img/covers/first_screen_1_1x.webp"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            >
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /assets/img/covers/rectangle_12_1x.webp 1x,
                /assets/img/covers/rectangle_12_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >
            <source
              media="(min-width: 768px)"
              srcset="
                /assets/img/covers/rectangle_12_1x.webp 1x,
                /assets/img/covers/rectangle_12_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >

            <source
              media="(max-width: 767px)"
              srcset="
                /assets/img/covers/rectangle_12_1x.webp 1x,
                /assets/img/covers/rectangle_12_2x.webp 2x
              "
              width="282"
              type="image/webp"
            >
            <img
              class="marquee-foto"
              src="/assets/img/covers/rectangle_12_1x.webp"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            >
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /assets/img/covers/rectangle_5_1x.webp 1x,
                /assets/img/covers/rectangle_5_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >
            <source
              media="(min-width: 768px)"
              srcset="
                /assets/img/covers/rectangle_5_1x.webp 1x,
                /assets/img/covers/rectangle_5_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >

            <source
              media="(max-width: 767px)"
              srcset="
                /assets/img/covers/rectangle_5_1x.webp 1x,
                /assets/img/covers/rectangle_5_2x.webp 2x
              "
              width="282"
              type="image/webp"
            >
            <img
              class="marquee-foto"
              src="/assets/img/covers/rectangle_5_1x.webp"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            >
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /assets/img/covers/rectangle_4_1x.webp 1x,
                /assets/img/covers/rectangle_4_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >
            <source
              media="(min-width: 768px)"
              srcset="
                /assets/img/covers/rectangle_4_1x.webp 1x,
                /assets/img/covers/rectangle_4_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >

            <source
              media="(max-width: 767px)"
              srcset="
                /assets/img/covers/rectangle_4_1x.webp 1x,
                /assets/img/covers/rectangle_4_2x.webp 2x
              "
              width="282"
              type="image/webp"
            >
            <img
              class="marquee-foto"
              src="/assets/img/covers/rectangle_4_1x.webp"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            >
          </picture>
        </div>
      </li>
    </ul>
    <ul class="marquee__inner">
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /assets/img/covers/rectangle_11_1x.webp 1x,
                /assets/img/covers/rectangle_11_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >
            <source
              media="(min-width: 768px)"
              srcset="
                /assets/img/covers/rectangle_11_1x.webp 1x,
                /assets/img/covers/rectangle_11_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >

            <source
              media="(max-width: 767px)"
              srcset="
                /assets/img/covers/rectangle_11_1x.webp 1x,
                /assets/img/covers/rectangle_11_2x.webp 2x
              "
              width="282"
              type="image/webp"
            >
            <img
              class="marquee-foto"
              src="/assets/img/covers/rectangle_11_1x.webp"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            >
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /assets/img/covers/rectangle_6_1x.webp 1x,
                /assets/img/covers/rectangle_6_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >
            <source
              media="(min-width: 768px)"
              srcset="
                /assets/img/covers/rectangle_6_1x.webp 1x,
                /assets/img/covers/rectangle_6_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >

            <source
              media="(max-width: 767px)"
              srcset="
                /assets/img/covers/rectangle_6_1x.webp 1x,
                /assets/img/covers/rectangle_6_2x.webp 2x
              "
              width="282"
              type="image/webp"
            >
            <img
              class="marquee-foto"
              src="/assets/img/covers/rectangle_6_1x.webp"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            >
          </picture>
        </div>
      </li>
      <li class="marquee__card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /assets/img/covers/rectangle_9_1x.webp 1x,
                /assets/img/covers/rectangle_9_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >
            <source
              media="(min-width: 768px)"
              srcset="
                /assets/img/covers/rectangle_9_1x.webp 1x,
                /assets/img/covers/rectangle_9_2x.webp 2x
              "
              width="544"
              type="image/webp"
            >

            <source
              media="(max-width: 767px)"
              srcset="
                /assets/img/covers/rectangle_9_1x.webp 1x,
                /assets/img/covers/rectangle_9_2x.webp 2x
              "
              width="282"
              type="image/webp"
            >
            <img
              class="marquee-foto"
              src="/assets/img/covers/rectangle_9_1x.webp"
              alt="Project"
              width="282"
              height="162"
              loading="lazy"
            >
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
