.covers {
  position: relative;
  overflow: hidden;
  height: 508px;
  min-width: 320px;
  background-color: var(--Background);
  background-image: url(/assets/img/covers/elements_vectors_1x.webp);
  background-size: cover;
}

.marquee {
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

@media (min-resolution: 192dpi) {
  .covers {
    background-image: url(/assets/img/covers/elements_vectors_2x.webp);
  }
}
.marquee__inner {
  display: flex;
  gap: 24px;
  transform: rotate(-16deg);
}
.marquee-wrapper {
  height: 100%;
}
.marquee__card {
  display: block;
  flex-shrink: 0;
  width: 282px;
  height: 162px;
  object-fit: cover;
}
.animation {
  animation-name: marqueeLine;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.marquee-foto {
  height: 100%;
}
@keyframes marqueeLine {
  0% {
    transform: translate(10px);
  }
  50% {
    transform: translate(-100px);
  }
  100% {
    transform: translate(10px);
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .covers {
    height: 960px;
  }
  .marquee {
    top: -40px;
    gap: 44px;
  }
  .marquee__inner {
    gap: 44px;
  }
  .marquee__card {
    width: 544px;
    height: 314px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .marquee {
    gap: 64px;
  }
  .marquee__inner {
    gap: 64px;
  }
}
