<section class="projects">
    <div class="swiper-container container">
        <div class="projects-header">
            <h2>PROJECTS</h2>
          </div>
      <div class="swiper-wrapper">
        
        <div class="swiper-slide">
          <ul class="project-list">


            <li class="project-list-item">
                <div class="project-card">
                  <div class="left-part">
                    <div class="technologies">
                      <div class="technology">#react</div>
                      <div class="technology">#js</div>
                      <div class="technology">#node js</div>
                      <div class="technology">#git</div>
                    </div>
                    <h3>Programming Across Borders: Ideas, Technologies, Innovations</h3>
                    <button class="project-btn" onclick="openInNewTab('https://https://github.com/project1')">See project</button>
                  </div>
                  <div class="right-part">
                    <img
                    srcset="
                    ../../assets/img/projects/1_image_mobile_1x.webp 1x,
                    ../../assets/img/projects/1_image_mobile_2x.webp 2x
                    "
                    src="../../assets/img/projects/1_image_mobile_1x.webp"
                   width="311px"
                   height="195px"
                    alt="Project 1"
                  />
                  </div>
                </div>
              </li>


            <li class="project-list-item">
                <div class="project-card">
                  <div class="left-part">
                    <div class="technologies">
                      <div class="technology">#react</div>
                      <div class="technology">#js</div>
                      <div class="technology">#node js</div>
                      <div class="technology">#git</div>
                    </div>
                    <h3>Programming Across Borders: Ideas, Technologies, Innovations</h3>
                    <button class="project-btn" onclick="openInNewTab('https://https://github.com/project1')">See project</button>
                  </div>
                  <div class="right-part">
                    <img
                    srcset="
                    ../../assets/img/projects/2_image_mobile_1x.webp 1x,
                    ../../assets/img/projects/2_image_mobile_2x.webp 2x
                    "
                    src="../../assets/img/projects/2_image_mobile_1x.webp"
                   width="311px"
                   height="195px"
                    alt="Project 2"
                  />
                  </div>
                </div>
              </li>

              <li class="project-list-item">
                <div class="project-card">
                  <div class="left-part">
                    <div class="technologies">
                      <div class="technology">#react</div>
                      <div class="technology">#js</div>
                      <div class="technology">#node js</div>
                      <div class="technology">#git</div>
                    </div>
                    <h3>Programming Across Borders: Ideas, Technologies, Innovations</h3>
                    <button class="project-btn" onclick="openInNewTab('https://https://github.com/project1')">See project</button>
                  </div>
                  <div class="right-part">
                    <img
                    srcset="
                    ../../assets/img/projects/3_image_mobile_1x.webp 1x,
                    ../../assets/img/projects/3_image_mobile_2x.webp 2x
                    "
                    src="../../assets/img/projects/3_image_mobile_1x.webp"
                   width="311px"
                   height="195px"
                    alt="Project 3"
                  />
                  </div>
                </div>
              </li>
          </ul>
        </div>
      </div>

<div class="projects-swiper-btns">
        <button
          class="project-swiper-btn prev"
          id="prevBtn"
          aria-label="button to view the previous review"
        >
          <svg class="project-btn-icon" width="24" height="24">
            <use href="../../assets/svg/icons.svg#icon-arrow-narrow-left-dark"></use>
          </svg>
        </button>
        <button
          class="project-swiper-btn next"
          id="nextBtn"
          aria-label="button to view the next review"
        >
          <svg class="project-btn-icon" width="24" height="24">
            <use href="../../assets/svg/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </section>