.project-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  overflow: hidden;
  height: auto;
}
@keyframes slideLeftToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.left-part {
  flex: 1;
  background-color: #ffffff;
  padding: 32px;
}
.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 96px;
}
.project-card .left-part .technology {
  background-color: transparent;
  padding: 13px 18px;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid #1c1d2033;
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: -0.02em;
  text-align: left;
}
.right-part {
  flex: 1;
  background-color: #242527;
  padding: 100px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-card .right-part img {
  max-width: 100%;
  height: auto;
}
.project-card h3 {
  margin-bottom: 32px;
  color: #1c1d20;
  font-family: Inter Tight;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: left;
  width: 279px;
}
.project-card a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
}

.technology {
  color: #1c1d20;
}

.project-btn {
  display: inline-block;
  width: 177px;
  height: 55px;
  padding: 18px 50px;
  border: none;
  border-radius: 60px;
  background: #ed3b44;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-family: Inter Tight;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: -0.02em;
  text-align: left;
}
.project-btn:hover,
.project-btn:focus {
  background-color: #e0373f;
  transform: scale(1.05);
}

.projects-swiper-btns {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
}

.projects {
  overflow-x: hidden;
  overflow-y: hidden;
}

.projects-header {
  margin-bottom: 64px;
}
.project-swiper-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 14px;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid #fafafa80;
  background-color: transparent;
  fill: none;
  stroke: #fafafa;
}
.project-swiper-btn:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}
.project-swiper-btn:not([disabled]):hover,
.project-swiper-btn:not([disabled]):focus {
  border: 1px solid #e0373f;
}
.project-swiper-btn:not([disabled]):hover .project-btn-icon,
.project-swiper-btn:not([disabled]):focus .project-btn-icon {
  stroke: #e0373f;
}

/* =============TABLET====================== */
@media screen and (min-width: 768px) {
  .project-card {
    height: auto;
  }

  .project-card .left-part {
    padding: 64px;
    height: auto;
  }

  .right-part {
    height: auto;
    padding: 120px 45px;
  }
  .technologies {
    margin-bottom: 164px;
  }
  .project-card h3 {
    font-size: 44px;
    line-height: 44px;
    width: 494px;
  }
  .project-btn-icon {
    width: 32px;
    height: 32px;
  }
  .project-swiper-btn {
    width: 68px;
    height: 68px;
    padding: 18px;
  }
  .project-swiper-btns {
    gap: 20px;
  }
}

/* ===================DESKTOP 1440===================== */
@media screen and (min-width: 1440px) {
  .project-card {
    flex-direction: row;
    height: auto;
  }
  .technologies {
    margin-bottom: 223px;
  }

  .project-card .right-part {
    height: auto;
    padding: 120px 37px;
  }
}
