<section class="projects section-pb" id="projects">
  <div class="swiper-container container">
    <h2 class="projects-header section-title">PROJECTS</h2>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <ul class="project-list">
          <li class="project-list-item">
            <div class="project-card">
              <div class="left-part">
                <ul class="technologies">
                  <li class="technology">#react</li>
                  <li class="technology">#js</li>
                  <li class="technology">#node js</li>
                  <li class="technology">#git</li>
                </ul>
                <h3>
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <button
                  class="project-btn"
                  onclick="openInNewTab('https://github.com/gudzsv/project-syntax-samurais-02')"
                >
                  See project
                </button>
              </div>
              <div class="right-part">
                <div class="project-img-wrapper">
                  <picture>
                    <source
                      media="(max-width: 767.98px)"
                      srcset="
                        /assets/img/projects/1_image_mobile_1x.webp 1x,
                        /assets/img/projects/1_image_mobile_2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        /assets/img/projects/1_image_tabl_desk_1x.webp 1x,
                        /assets/img/projects/1_image_tabl_desk_2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <img
                      class="project-img"
                      src="/assets/img/projects/1_image_tabl_desk_1x.webp"
                      alt="Project 1"
                      width="614"
                      height="385"
                      loading="lazy"
                    />
                  </picture>
                </div>
              </div>
            </div>
          </li>

          <li class="project-list-item">
            <div class="project-card">
              <div class="left-part">
                <ul class="technologies">
                  <li class="technology">#react</li>
                  <li class="technology">#js</li>
                  <li class="technology">#node js</li>
                  <li class="technology">#git</li>
                </ul>
                <h3>
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <button
                  class="project-btn"
                  onclick="openInNewTab('https://github.com/gudzsv/project-syntax-samurais-02')"
                >
                  See project
                </button>
              </div>
              <div class="right-part">
                <div class="project-img-wrapper">
                  <picture>
                    <source
                      media="(max-width: 767.98px)"
                      srcset="
                        /assets/img/projects/2_image_mobile_1x.webp 1x,
                        /assets/img/projects/2_image_mobile_2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        /assets/img/projects/2_image_tabl_desk_1x.webp 1x,
                        /assets/img/projects/2_image_tabl_desk_2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <img
                      class="project-img"
                      src="/assets/img/projects/2_image_tabl_desk_1x.webp"
                      alt="Project 2"
                      width="614"
                      height="385"
                      loading="lazy"
                    />
                  </picture>
                </div>
              </div>
            </div>
          </li>

          <li class="project-list-item">
            <div class="project-card">
              <div class="left-part">
                <ul class="technologies">
                  <li class="technology">#react</li>
                  <li class="technology">#js</li>
                  <li class="technology">#node js</li>
                  <li class="technology">#git</li>
                </ul>
                <h3>
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <button
                  class="project-btn"
                  onclick="openInNewTab('https://github.com/gudzsv/project-syntax-samurais-02')"
                >
                  See project
                </button>
              </div>
              <script>
                function openInNewTab(url) {
                  var win = window.open(url, '_blank');
                  win.focus();
                }
              </script>
              <div class="right-part">
                <div class="project-img-wrapper">
                  <picture>
                    <source
                      media="(max-width: 767.98px)"
                      srcset="
                        /assets/img/projects/3_image_mobile_1x.webp 1x,
                        /assets/img/projects/3_image_mobile_2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        /assets/img/projects/3_image_tab_desk_1x.webp 1x,
                        /assets/img/projects/3_image_tab_desk_2x.webp 2x
                      "
                      type="image/webp"
                    />
                    <img
                      class="project-img"
                      src="/assets/img/projects/3_image_tab_desk_1x.webp"
                      alt="Project 1"
                      width="614"
                      height="385"
                      loading="lazy"
                    />
                  </picture>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="projects-swiper-btns">
      <button
        class="project-swiper-btn prev"
        id="prevBtn"
        aria-label="button to view the previous review"
      >
        <svg class="project-btn-icon" width="24" height="24">
          <use href="/assets/svg/icons.svg#icon-arrow-narrow-left-dark"></use>
        </svg>
      </button>
      <button
        class="project-swiper-btn next"
        id="nextBtn"
        aria-label="button to view the next review"
      >
        <svg class="project-btn-icon" width="24" height="24">
          <use href="/assets/svg/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
