<section class="hero hero-wrapper">
  <div class=" container">
    <h1 class="hero-title header-1" data-aos="fade-right">
      Hello <br >
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <div class="hero-info small-text" data-aos="fade-left">
      <ul class="hero-list">
        <li class="hero-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="social-link"
            title="Link to Instagram"
            target="_blank"
            rel="noopener noreferrer"
            >IG</a
          >
        </li>
        <li class="hero-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="social-link"
            title="Link to Facebook"
            target="_blank"
            rel="noopener noreferrer"
            >FB</a
          >
        </li>
        <li class="hero-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="social-link"
            title="Link to YouTube"
            target="_blank"
            rel="noopener noreferrer"
            >YT</a
          >
        </li>
        <li class="hero-item">
          <a
            href="https://github.com/gudzsv/project-syntax-samurais-02"
            class="social-link"
            title="Link to GitHub"
            target="_blank"
            rel="noopener noreferrer"
            >GH</a
          >
        </li>
      </ul>
      <div class="heder-contact-info">
        <a
          href="mailto:user@example.com?subject=Subject%20of%20email&amp;body=Message%20text&amp;cc=ccuser@example.com&amp;bcc=bccuser@example.com"
          class="heder-contact-info-link"
          title="Send an email"
          rel="noopener noreferrer"
          >lloydjefferson@gmail.com</a
        >
      </div>
    </div>
  </div>
</section>
