<section class="faq section-pb" id="faq-section">
  <div class="container">
    <h2 class="title-faq" id="faq">FAQ</h2>
    <ul class="faq-list accordion-container-faq">
      <li class="faq-item ac">
        <div class="question ac-header ac-trigger">
          <h3 class="question-header ac-header">
            What programming languages are most often used in your project
          </h3>
          <button
            class="faq-btn ac-trigger"
            type="button"
            aria-label="Open-close button"
          >
            <svg class="faq-btn-icon" width="18" height="18">
              <title>The Arrow up</title>
              <desc>
                Upward arrow consisting of two lines forming a triangle without
                the bottom edge.
              </desc>
              <use href="/assets/svg/icons.svg#icon-arrow-about-me"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="text-item-list ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <div class="question ac-header ac-trigger">
          <h3 class="question-header ac-header">
            What are the deadlines for the project
          </h3>
          <button
            class="faq-btn ac-trigger"
            type="button"
            aria-label="Open-close button"
          >
            <svg class="faq-btn-icon" width="18" height="18">
              <title>The Arrow up</title>
              <desc>
                Upward arrow consisting of two lines forming a triangle without
                the bottom edge.
              </desc>
              <use href="/assets/svg/icons.svg#icon-arrow-about-me"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="text-item-list ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <div class="question ac-header ac-trigger">
          <h3 class="question-header ac-header">
            What payment methods do you accept?
          </h3>
          <button
            class="faq-btn ac-trigger"
            type="button"
            aria-label="Open-close button"
          >
            <svg class="faq-btn-icon" width="18" height="18">
              <title>The Arrow up</title>
              <desc>
                Upward arrow consisting of two lines forming a triangle without
                the bottom edge.
              </desc>
              <use href="/assets/svg/icons.svg#icon-arrow-about-me"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="text-item-list ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <div class="question ac-header ac-trigger">
          <h3 class="question-header ac-header">How can I contact you</h3>
          <button
            class="faq-btn ac-trigger"
            type="button"
            aria-label="Open-close button"
          >
            <svg class="faq-btn-icon" width="18" height="18">
              <title>The Arrow up</title>
              <desc>
                Upward arrow consisting of two lines forming a triangle without
                the bottom edge.
              </desc>
              <use href="/assets/svg/icons.svg#icon-arrow-about-me"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="text-item-list ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <div class="question ac-header ac-trigger">
          <h3 class="question-header ac-header">
            Do you provide advice or support
          </h3>
          <button
            class="faq-btn ac-trigger"
            type="button"
            aria-label="Open-close button"
          >
            <svg class="faq-btn-icon" width="18" height="18">
              <title>The Arrow up</title>
              <desc>
                Upward arrow consisting of two lines forming a triangle without
                the bottom edge.
              </desc>
              <use href="/assets/svg/icons.svg#icon-arrow-about-me"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="text-item-list ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <div class="question ac-header ac-trigger">
          <h3 class="question-header ac-header">
            What does the process of developing a software product look like
            from idea to implementation
          </h3>
          <button
            class="faq-btn ac-trigger"
            type="button"
            aria-label="Open-close button"
          >
            <svg class="faq-btn-icon" width="18" height="18">
              <title>The Arrow up</title>
              <desc>
                Upward arrow consisting of two lines forming a triangle without
                the bottom edge.
              </desc>
              <use href="/assets/svg/icons.svg#icon-arrow-about-me"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="text-item-list ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
