:root {
  /* colors */
  --white: #fff;
  --brown: #bea69e;
  --fill: #1d1d1d;
  --black: #121212;
  --fill-linear: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  --gray-light: rgba(255, 255, 255, 0.5);
  --gray: rgba(255, 255, 255, 0.2);
  --dark: #414141;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--white);
  background-color: var(--black);
}

section {
  min-width: 320px;
  width: 100%;
}

/* Mobile */
.container {
  min-width: 320px;
  max-width: 375px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Desktop */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}

/* Big Desktop */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* Mobile */
.section-mt {
  padding-top: 80px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .section-mt {
    padding-top: 100px;
  }
}

/* Desktop - Big Desktop */
@media only screen and (min-width: 1280px) {
  .section-mt {
    padding-top: 150px;
  }
}

/* Mobile */
.signup-btn {
  display: inline-block;
  padding: 14px 62px;
  min-width: 179px;
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  text-transform: uppercase;
  border-radius: 12px;
  background-color: var(--white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .signup-btn {
    min-width: 186px;
    padding: 16px 58px;
    font-size: 18px;
    line-height: 1.55;
  }
}

/* Desktop */
@media only screen and (min-width: 1280px) {
  .signup-btn {
    min-width: 238px;
    padding-left: 84px;
    padding-right: 84px;
  }
}

.signup-btn:hover,
.signup-btn:focus,
.signup-btn:active {
  color: var(--brown);
  background-color: var(--fill);
}

/* Mobile */
.bold-title {
  color: var(--white);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
}

/* Tablet  */
@media only screen and (min-width: 768px) {
  .bold-title {
    font-size: 60px;
    line-height: 1.07;
  }
}

/* Desktop - Big Desktop */
@media only screen and (min-width: 1280px) {
  .bold-title {
    font-size: 64px;
    line-height: 1.06;
  }
}

/* Mobile */
.medium-title {
  color: var(--white);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}

/* Tablet - Desktop - Big Desktop */
@media only screen and (min-width: 768px) {
  .medium-title {
    font-size: 48px;
    line-height: 1.12;
  }
}

/* Mobile - Tablet - Desktop - Big Desktop */
.slim-title {
  color: var(--white);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
}

.text-decoration {
  color: var(--brown);
}

.text-decoration-italic {
  color: var(--brown);
  font-weight: 400;
  font-style: italic;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
}

/* animate li grow*/
@media only screen and (min-width: 1280px) {
  .hvr-grow {
    /* display: inline-block; */
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
