/* @font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DM-Sans-Regular.woff2') format('woff2'),
    url('../fonts/DM-Sans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DM-Sans-Medium.woff2') format('woff2'),
    url('../fonts/DM-Sans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */

/* @font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DM-Sans-Bold.woff2') format('woff2'),
    url('../fonts/DM-Sans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'Inter Tight';
  src: url('../fonts/InterTight-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('../fonts/InterTight-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
