/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}

input {
  border-style: none;
  background-color: transparent;
}

input:focus {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
