.work-together {
  padding-block-end: 32px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-blend-mode: overlay;
  background-image: url('@assets/img/work-togeter/glass_effect_2_mobile_1x.webp');
}
@media (min-resolution: 2dppx) {
  .work-together {
    background-image: url('@assets/img/work-togeter/glass_effect_2_mobile_2x.webp');
  }
}
@media only screen and (min-width: 768px) {
  .work-together {
    padding-block-end: 169px;
    background-image: url('@assets/img/work-togeter/glass_effect_2_tablet_1x.webp');
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .work-together {
    background-image: url('@assets/img/work-togeter/glass_effect_2_tablet_2x.webp');
  }
}
@media only screen and (min-width: 1440px) {
  .work-together {
    background-image: url('@assets/img/work-togeter/glass_effect_2_desktop_1x.webp');
  }
}
@media only screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .work-together {
    background-image: url('@assets/img/work-togeter/glass_effect_2_desktop_2x.webp');
  }
}
.work-together .container {
  padding-block-start: 32px;
}
@media only screen and (min-width: 768px) {
  .work-together .container {
    padding-block-start: 80px;
  }
}
@media only screen and (min-width: 1440px) {
  .work-together .container {
    padding-inline-start: 196px;
  }
}
.title-work-together {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  max-width: 542px;
  margin-block-end: 63px;
}
@media only screen and (min-width: 768px) {
  .title-work-together {
    margin-block-end: 18px;
  }
}
.title-image {
  width: 44px;
  height: 44px;
}
@media only screen and (min-width: 768px) {
  .title-image {
    width: 70px;
    height: 70px;
  }
}
.submit-form {
  margin-block-end: 64px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .submit-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    margin-block-end: 18px;
  }
}
@media only screen and (min-width: 1440px) {
  .submit-form {
    margin-block-end: 18px;
  }
}
.input-wrapper {
  margin-block-end: 16px;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .input-wrapper {
    margin-block-end: 0;
    max-width: 245px;
  }
}
@media only screen and (min-width: 1440px) {
  .input-wrapper {
    max-width: 390px;
  }
}
.input-wrapper:nth-child(2) {
  margin-block-end: 32px;
}
@media only screen and (min-width: 768px) {
  .input-wrapper:nth-child(2) {
    margin-block-end: 0;
  }
}
.input {
  outline: none;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid var(--Opacity_20);
  color: var(--Main_text);
  text-overflow: ellipsis;
  transition: border-color var(--Animation_cubic);
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.input:hover,
.input:focus,
.input:active {
  border-bottom: 1px solid var(--Opacity_60);
}
@media only screen and (min-width: 1440px) {
  .input {
    max-width: 390px;
  }
}
.valid-email-text {
  display: none;
  color: var(--Success_message);
}
.invalid-email-text,
.invalid-comments-text {
  display: none;
  color: var(--Error_message);
}
.send-btn {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: var(--Button_text);
  color: var(--Main_text);
  transition: transform var(--Animation_cubic),
    background-color var(--Animation_cubic);
}
.send-btn:hover,
.send-btn:focus,
.send-btn:active {
  background-color: var(--Button_background);
  transform: scale(1.05);
}
@media only screen and (min-width: 768px) {
  .send-btn {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (min-width: 1440px) {
  .send-btn {
    margin-inline-start: 68px;
  }
}
.contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
@media only screen and (min-width: 768px) {
  .contacts-list {
    gap: 8px;
  }
}
.contacts-item {
  width: fit-content;
  border: 1px solid var(--Opacity_20);
  border-radius: 60px;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  transition: border-color var(--Animation_cubic);
}
@media only screen and (min-width: 768px) {
  .contacts-item {
    padding-inline-start: 32px;
    padding-inline-end: 32px;
  }
}
.contacts-item:hover,
.contacts-item:focus,
.contacts-item:active {
  border: 1px solid var(--Main_text);
}
.contacts-link {
  display: flex;
  align-items: center;
  height: 37px;
  font-size: 14px;
}
@media only screen and (min-width: 768px) {
  .contacts-link {
    height: 55px;
  }
}

/* dynamic classes for js */

.is-visible {
  display: block;
  position: absolute;
  top: 48px;
  left: 0;
  font-size: 14px;
  line-height: 1.29;
}
.valid-input,
.valid-input:hover,
.valid-input:focus,
.valid-input:active {
  border-color: var(--Success_message);
}
.invalid-input,
.invalid-input:hover,
.invalid-input:focus,
.invalid-input:active {
  border-color: var(--Error_message);
}

/* Input reset webkit */

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill::first-line,
textarea:-webkit-autofill::first-line,
select:-webkit-autofill::first-line {
  color: var(--Main_text);
}
