<footer class="work-together section-pb" id="work-together">
  <div class="container">
    <h2 class="title-work-together header-2">
      <picture class="title-image">
        <source
          srcset="
            /assets/img/work-togeter/image_tabl_desk_1x.webp 1x,
            /assets/img/work-togeter/image_tabl_desk_2x.webp 2x
          "
          media="(min-width: 1440px)"
          type="image/webp"
        />
        <source
          srcset="
            /assets/img/work-togeter/image_mobile_1x.webp 1x,
            /assets/img/work-togeter/image_mobile_2x.webp 2x
          "
          media="(max-width: 1139px)"
          type="image/webp"
        />
        <img
          src="/assets/img/work-togeter/image_mobile_1x.webp"
          alt="Man's photo"
          width="70"
          height="70"
        />
      </picture>
      Let’s <span class="text-decoration-red"> work</span> together
    </h2>
    <form class="submit-form js-submit-form">
      <div class="input-wrapper">
        <input
          type="text"
          class="input"
          name="userEmail"
          id="user-email"
          placeholder="clients@gmail.com"
        />
        <span class="valid-email-text">Success!</span>
        <span class="invalid-email-text">Invalid email, try again!</span>
      </div>
      <div class="input-wrapper">
        <input
          type="text"
          class="input"
          name="userComments"
          id="user-comments"
          placeholder="comments"
        />
        <span class="invalid-comments-text">This field is required!</span>
      </div>
      <button class="send-btn" type="submit">Send</button>
    </form>
    <address class="contacts">
      <ul class="contacts-list">
        <li class="contacts-item">
          <a href="mailto:lloydjefferson@gmail.com" class="contacts-link"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="contacts-item">
          <a href="tel:+3801111111111" class="contacts-link"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>
