.reviews {

}

.reviewer-image{
  width: 48px;
  height: 48px;
}

.reviewer-name{

}

.reviewer-text{

}

.review{
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px, 24px, 32px, 24px;
}
