<section class="reviews">
    <div class="container">
        <h2 class="reviews-header">Reviews</h2>
        <div class="swiper">
            <ul class="swiper-wrapper" id="reviews-list"></ul>
        <div class="buttons">
            <div class="swiper-button-prev" id="prev">
                <svg class="icon">
                    <use href="/assets/svg/icons.svg#icon-arrow-narrow-left-dark"></use>
                </svg>
            </div>
            <div class="swiper-button-next" id="next">
                <svg class="icon">
                    <use href="/assets/svg/icons.svg#icon-arrow-narrow-right"></use>
                </svg>
            </div>
        </div>
        </div>
</div>
</section>
