@media screen and (min-width: 1440px) {
  .benefits-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.container-list-with-button {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .container-list-with-button {
    gap: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .container-list-with-button {
    width: 710px;
  }
}

.benefits-section-title {
  margin-bottom: 32px;
  font-size: 16px;
  min-width: 284px;
}

@media screen and (min-width: 1440px) {
  .benefits-section-title {
    margin-bottom: 0px;
  }
}

.benefits-items-list {
  border-radius: 20px;
  padding: 24px;
  background: #242527;
}

.benefits-items-list:hover {
  box-shadow: 0 14px 15px var(--Theme_red);
  transition: box-shadow 0.3s;
}

@media screen and (min-width: 768px) {
  .benefits-items-list {
    border-radius: 20px;
    padding: 24px;
    width: 344px;
    height: 270px;
    margin-bottom: 0;
  }
}

.benefits-list {
  gap: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    gap: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1440px) {
  .benefits-list {
    justify-content: right;
  }
}
.icon-wrapper {
  padding: 12px;
  width: 48px;
  height: 48px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ed3b44;
  margin-bottom: 64px;
}

.title {
  margin-bottom: 8px;
}

.button-order-benefits {
  display: flex;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 36px;
  width: 190px;
  height: 55px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: border-color var(--Animation_cubic);
}

.button-order-benefits:hover {
  border-color: 1.5px solid var(--Main_text);
}
