<section class="benefits">
  <div class="container">
    <div class="benefits-wrapper">
      <h2 class="benefits-section-title">BENEFITS OF WORKING WITH ME</h2>
      <ul class="benefits-list">
        <li class="benefits-items-list">
          <div class="icon-wrapper">
            <svg class="benefits-icon" width="24" height="24">
              <title>Expertise</title>As a highly experienced developer, I have deep knowledge of
              programming and website development.
              <use href="/assets/svg/icons.svg#icon-user"></use>
            </svg>
          </div>
          <h5 class="header-5 title">Expertise</h5>
          <p class="main-text-with-opacity">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </li>
        <li class="benefits-items-list">
          <div class="icon-wrapper">
            <svg class="benefits-icons" width="24" height="24">
              <title>Communication</title>Understanding your needs and wants is my priority and I am always
              open to discussions and corrections.
              <use href="/assets/svg/icons.svg#icon-message-chat-circle"></use>
            </svg>
          </div>
          <h5 class="header-5 title">Communication</h5>
          <p class="main-text-with-opacity">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </li>
        <li class="benefits-items-list">
          <div class="icon-wrapper">
            <svg class="benefits-icons" width="24" height="24">
              <title>Art</title>Thanks to my creative nature, I am ready to accept challenges and
              help you bring your ideas to life.
              <use href="/assets/svg/icons.svg#icon-brush"></use>
            </svg>
          </div>
          <h5 class="header-5 title">Art</h5>
          <p class="main-text-with-opacity">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>
        <li class="benefits-items-list last">
          <div class="icon-wrapper">
            <svg class="benefits-icons" width="24" height="24">
              <title>Urgent execution</title>I understand how important time is to you. Ready to work quickly and
              efficiently, without reducing the quality of work.
              <use href="/assets/svg/icons.svg#icon-hourglass"></use>
            </svg>
          </div>

          <h5 class="header-5 title">Urgent execution</h5>
          <p class="main-text-with-opacity">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>
      <div class="button-wrapper">
        <a href="#work-together"
           aria-label="Learn more about me" title="Learn more about me" ><span class="text-button">Order the project</span></a
        >
      </div>
    </div>
  </div>
</section>
