<section class="benefits section-pb" id="benefits">
  <div class="container">
    <div class="benefits-wrapper">
      <h2 class="section-title benefits-section-title">
        BENEFITS OF WORKING WITH ME
      </h2>
      <div class="container-list-with-button">
        <ul class="benefits-list">
          <li class="benefits-items-list">
            <div class="icon-wrapper">
              <svg class="benefits-icon" width="24" height="24">
                <title>Expertise</title>
                <desc>
                  As a highly experienced developer, I have deep knowledge of
                  programming and website development.
                </desc>
                <use href="/assets/svg/icons.svg#icon-user"></use>
              </svg>
            </div>
            <h3 class="header-5 title">Expertise</h3>
            <p class="main-text-with-opacity">
              As a highly experienced developer, I have deep knowledge of
              programming and website development.
            </p>
          </li>
          <li class="benefits-items-list">
            <div class="icon-wrapper">
              <svg class="benefits-icons" width="24" height="24">
                <title>Communication</title>
                <desc>
                  Understanding your needs and wants is my priority and I am
                  always open to discussions and corrections.
                </desc>
                <use
                  href="/assets/svg/icons.svg#icon-message-chat-circle"
                ></use>
              </svg>
            </div>
            <h3 class="header-5 title">Communication</h3>
            <p class="main-text-with-opacity">
              Understanding your needs and wants is my priority and I am always
              open to discussions and corrections.
            </p>
          </li>
          <li class="benefits-items-list">
            <div class="icon-wrapper">
              <svg class="benefits-icons" width="24" height="24">
                <title>Art</title>
                <desc>
                  Thanks to my creative nature, I am ready to accept challenges
                  and help you bring your ideas to life.
                </desc>
                <use href="/assets/svg/icons.svg#icon-brush"></use>
              </svg>
            </div>
            <h3 class="header-5 title">Art</h3>
            <p class="main-text-with-opacity">
              Thanks to my creative nature, I am ready to accept challenges and
              help you bring your ideas to life.
            </p>
          </li>
          <li class="benefits-items-list last">
            <div class="icon-wrapper">
              <svg class="benefits-icons" width="24" height="24">
                <title>Urgent execution</title>
                <desc>
                  I understand how important time is to you. Ready to work
                  quickly and efficiently, without reducing the quality of work.
                </desc>
                <use href="/assets/svg/icons.svg#icon-hourglass"></use>
              </svg>
            </div>

            <h3 class="header-5 title">Urgent execution</h3>
            <p class="main-text-with-opacity">
              I understand how important time is to you. Ready to work quickly
              and efficiently, without reducing the quality of work.
            </p>
          </li>
        </ul>
        <a
          class="button-order-benefits"
          href="#work-together"
          aria-label="Let's work together"
          title="Let's work together"
          ><span class="text-button">Order the project</span></a
        >
      </div>
    </div>
  </div>
</section>
